<article class="article @@locator">
    <img class="article__images" src="@@imgSrc" alt="@@alt">

    <div class="box">
        <h3 class="article__name">@@name</h3>
        <p class="article__aboutus">@@description</p>
        <div class="social">
            <ul class="social__list">
                <li>
                    <a class="social__list--links" target="_blank" href="@@twitterSrc"><i
                            class="fab fa-twitter"></i></a>
                </li>
                <span class="text-style-1">·</span>
                <li>
                    <a class="social__list--links" target="_blank" href="@@linkedinSrc"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <span class="text-style-1">·</span>
                <li>
                    <a class="social__list--links" target="_blank" href="@@githubSrc"><i
                            class="fab fa-github-alt"></i></a>
                </li>
            </ul>
        </div>
        </div-box>


</article>