<footer class="footer">

    <div class="footer__container">
        <section class="footer__copy">
            Descodigadas &copy; 2021
        </section>

        <nav>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a href="#team-section">Equipo </a>
                </li>
                <li class="footer__list-item">
                    <a href="#about-us"> Quiénes Somos </a>
                </li>
                <li class="footer__list-item">
                    <a href="./contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
    

    <section class="footer__logo">
        <img class="img" src="./assets/images/logo-adalab.png" alt="Logo Adalab">
    </section>

</div>

</footer>