<main class="main">


    <div class="hero">
        <section class="slogan">
        </section>

        <div class="slogan__container">
            <p class="slogan__container--text"> El punto de salida hacia todo logro es el deseo.</p>
        </div>

    </div>


    <!-- 2º rectángulo, team -->
    <section class="team__section" id="team-section">
        <h2 class="team__section--title">EQUIPO</h2>
        <article class="team__section--text">

            <p class="about-us-desc">Arriesgarse es perder momentánemente el equilibrio. No arriesgarse es perderse a
                uno misma.</p>

            <p class="about-us-desc">En (nombre del equipo), nos hemos "arriesgado" a empezar este curso desde cero,
                creyendo en nosotras
                y en nuestra capacidad de aprendizaje. Estamos aquí para dar lo mejor de nosotras y conseguir
                nuestro objetivo.
                Apostamos por Adalab en este nuevo camino que vamos a recorrer juntas.</p>

        </article>
    </section>

    <div id="square"></div>

    <!-- 3º rectángulo, strengths and weaknesses -->

    <section class="s-w__section">
        <article class="s-w__article">

            <h2 class="s-w__section--title ">Fortalezas</h2>
            <p class="s-w__section--text str">En (nombre) las fortalezas que más nos definen son la perseverancia,
                constancia y la resiliencia. Somos capaces de superarnos y de generar respuestas o soluciones
                alternativas a los problemas a los que nos enfrentamos.</p>



            <h2 class="s-w__section--title ">Debilidades </h2>
            <p class="s-w__section--text weak">Las debilidades que tenemos en común son la impaciencia y el exceso
                de perfeccionismo.Queremos que todo salga bien y perfectoy eso puede llevar a la frustación, ya que
                no todo sale como nos gusta a todos.</p>

        </article>
    </section>


    <!-- 4º QUIÉNES SOMOS -->
    <section class="team__section" id="about-us">

        <h2 class="team__section--title about-us">QUIÉNES SOMOS</h2>

        <section>
            <include src="./about-us.html" imgSrc="./assets/images/mireia.jpg" name="Mireia"
                description="Nacida en Madrid, estudió Integración Social y Educación Social, trabajó poco
            de ello por lo que decidió cambiar de tercio y formarse en el ámbito de la programación web.
            Actualmente está realizando un bootcamp maravilloso y nada estresante en Adalab - La generación O -
            La conoceréis de series y películas como... a no, ese es Troy McClure, Lo dicho, futura programadora frontend." twitterSrc="https://twitter.com/m_suefra"
                linkedinSrc="http://www.linkedin.com/in/mireia-s-0845661a4/"
                githubSrc="https://github.com/mireiasuefra"></include>
            <include src="./about-us.html" imgSrc="./assets/images/alicia.jpg" name="Alicia" description="Nació en Murcia y estudió Comunicación Audiovisual, allí tuvo su primer
            contacto con el mundo del desarrollo web en una asignatura, lo que la llevó a interesarse y decidir
            formarse más.
            Actualmente forma parte de Adalab y su objetivo es aprender todo lo necesario para ser una gran
            Front-End Developer." twitterSrc="https://twitter.com/gallegali"
                linkedinSrc="https://www.linkedin.com/in/alicia-gallego-gonz%C3%A1lez-ba3154225/"
                githubSrc="https://github.com/aliciaggz" locator="locator"></include>
            <include src="./about-us.html" imgSrc="./assets/images/elena.jpg" name="Elena" description="Educadora Infantil de origen madrileño. Después de no encontrar trabajo en
            Madrid, decidio irse a vivir a Alemania, donde vivió una experiencia única e irrepetbile. Hace un
            año volvió a Madrid y decidió dar un giro de 180 grados a su vida. Se embarco en esta nueva aventura
            de Adalab dispuesta a aprender desde 0 todo el mundo de la programación y lograr su objetivo: ser
            una Full Stack Developer." twitterSrc="http://www.twitter.com/elenox92"
                linkedinSrc="http://www.linkedin.com/in/elena-fernández-sandoval-48425b145/"
                githubSrc="http://www.github.com/ElenaFernandez"></include>

            <include src="./about-us.html" imgSrc="./assets/images/marta.jpg" name="Marta" description="Manchega de nacimiento y madrileña de corazón, Marta ejerció toda su vida profesional como técnica de proyecto. Al no sentirse identificada con el entorno profesional, sumado a la inestabilidad laboral de su
            sector, decidió emprender esta nueva aventura como adalaber." twitterSrc="https://twitter.com/poncegui"
                githubSrc="http://www.github.com/poncegui"
                linkedinSrc="https://www.linkedin.com/in/marta-ponce-de-le%C3%B3n-guillermo-a096b2ab/"
                locator="locator"></include>
            <include src="./about-us.html" imgSrc="./assets/images/silvia.jpg" name="Silvia" description="Nacida en Madrid, estudió Antropología Social y Cultural para luego
            especializarse en Estudios de
            Género y Cooperación al desarrollo. Durante su trabajo como investigadora en un proyecto de I+D+i,
            conoció el mundo de la programación. Actualmente forma parte de la generación O de Adalab para
            llegar a ser una estupenda full stack developer."
                linkedinSrc="https://www.linkedin.com/in/silvia-d%C3%ADaz-molina-52213010b/"
                githubSrc="https://github.com/SilviaDimol"
               ></include>
        </section>



</main>