.contact_form{
  display: flex;
  flex-direction: column;
  
}

.slogan__contact {
  background-image: url(https://images.pexels.com/photos/7821577/pexels-photo-7821577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 300px;
  
  position: relative;
  

  @media (min-width: 768px) {
    height: 350px;
  }

  @media (min-width: 1200px) {
    height: 400px;
  }
}

.form {
  display: grid;
  grid-template-rows: 1fr fr 1fr 1fr;
  grid-template-columns: 1fr;

  
  align-items: center;
  justify-items: center;
  text-align: center;

  @media (min-width: 768px) {
    grid-template-rows: 10% 10% 5% 65%;
  }

  @media (min-width: 1200px) {
    grid-template-rows: 10% 5% 10% 65%;
  }

  &_title {
    font-family: $font-principal;
    font-size: 34px;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 1;
    color: $color-principal;
    font-weight: normal;
    margin-top: 30px;
    line-height: 45px;

    @media (min-width: 1200px) {
      margin: 45px;
    }
  }

  &_text {
    grid-row: 2;
    font-family: $font-secondary;
    font-size: 16px;
    color: $color-quart-text;
    
    padding: 15px 15px;
    font-weight: normal;
    @media (min-width: 768px) {
      width: 500px;
    }
    @media (min-width: 1200px) {
      width: 600px;
    }
  }

  &_aviso {
    font-family: $font-secondary;
    color: $color-quart-text;
    padding-bottom: 25px;
    
  }

  &_form {
    grid-row: 4;
    font-family: $font-secondary;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding-bottom: 20px;
  line-height: 40px;
  text-align: start;
  color: $color-principal-text;
  font-size: 14px;
}

input {
  border: 1px solid $color-quart-text;
  height: 45px;
  padding-left: 10px;
 

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1200px) {
    width: 600px;
  }
}

textarea {
  border: 1px solid $color-quart-text;
  height: 105px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: $font-secondary;
}

.obligatorio {
  color: $color-principal;
}

.btn {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
  }

  &__send {
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    font-family: $font-principal;
    font-size: 16px;
    color: white;
    background-color: $color-principal;
    border: none;

    &:hover {
      color: $color-principal;
      background-color: 0.5s linear;
      background-color: $color-secondary;
      border: 1px solid $color-principal;
    }

    @media (min-width: 768px) {
      width: 210px;
    }
    @media (min-width: 1200px) {
      width: 280px;
    }
  }
}

// @mixin pepino {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
