.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #fff;
  color: #54585a;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;

  &--title {
    font-family: $font-principal;
    color: $color-secondary;
    margin-bottom: 15px;
    padding-top: 20px;
    text-transform: uppercase;

    &.about-us {
      position: relative;
      padding-top: 40px;
    }
  }

  &--text {
    margin-bottom: 20px;
    font-family: $font-principal;
  }
}

.s-w__section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 50px 25px 5px;
  background-color: rgba(180, 180, 180, 0.644);
  color: $color-principal-text;
  line-height: 24px;

  &--title {
    font-family: $font-principal;
    color: $color-secondary;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      grid-row: 1;
    }
  }

  &--text {
    height: 192px;
    font-family: $font-principal;

    @media (min-width: 768px) {
      grid-row: 2;

      &.weak {
        padding-left: 25px;
      }

      &.str {
        padding-right: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .s-w__article {
    display: grid;
    grid-template-columns: 50%;
  }
}

#square {
  width: 29.9px;
  height: 30px;
  background-color: #fff;
  margin-bottom: -15px;
  transform: rotate(45deg);
}
